
.files{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
}

.options{
    display: flex;
    flex-direction: row;
}

.left{
    display: flex;
    flex-direction: column;
}

body{
    width:100%
}

.txt1{font-size: 20px;
    transition: 0.5s;
    opacity: 0;
}
.txt2{font-size: 20px;
    transition: 0.5s;
    opacity: 1;
}
              
img{
    border-radius: 50%;
}