.drop-zone{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px
    10px rgba(0, 0, 0, 0.22);
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-wieght: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #a23538;
    border-radius: 10px;
}

/*.control-label-drop{*/
/*    visibility: hidden;*/
/*}*/

.drop-zone--over {
    border-style: solid;
}

.form-control-uploadfile{
    display: none;
    cursor: pointer;
    /*visibility: hidden;*/
}

.drop-zone__thumb{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}


/*!*Secret message text box style*/
.control-label-text-hide{
    display: none;
}

.form-group-text textarea {
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px
    10px rgba(0, 0, 0, 0.22);
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 200px;
    height: 100px;
    outline: none;
    resize: none;
}

.form-group-text textarea:focus::placeholder {
    color: transparent;
}

.form-group-text textarea::placeholder {
    display: flex;
    color: #222;
    transition: color 0.5s ease-in-out;
    text-align: left;
}

/*.text-counter {*/
/*    position: absolute;*/
/*    bottom: 50%;*/
/*}*/

.front {
    position: relative;
    justify-content: left;
    text-align: left;
    /*bottom: 47%;*/
}

.text-counter {
    border-radius: 15px;
    text-align: center;
    border: none;
}


/*Radio buttons style*/
.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/*.radio__input{*/
/*    display: none;*/
/*}*/

/*.radio__label1{*/
/*    overflow: hidden;*/
/*    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);*/
/*    padding: 8px 14px;*/
/*    font-size: 14px;*/
/*    font-family: sans-serif;*/
/*    color: #ffffff;*/
/*    background: #a23538;*/
/*    cursor: pointer;*/
/*    transition: background 0.2s;*/
/*    border-bottom-left-radius: 15px;*/
/*    border-top-left-radius: 15px;*/
/*}*/

/*.radio__label2{*/
/*    overflow: hidden;*/
/*    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);*/
/*    padding: 8px 14px;*/
/*    font-size: 14px;*/
/*    font-family: sans-serif;*/
/*    color: #ffffff;*/
/*    background: #a23538;*/
/*    cursor: pointer;*/
/*    transition: background 0.2s;*/
/*    border-bottom-right-radius: 15px;*/
/*    border-top-right-radius: 15px;*/
/*}*/
/*.radio__label3{*/
/*    overflow: hidden;*/
/*    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);*/
/*    padding: 8px 14px;*/
/*    font-size: 14px;*/
/*    font-family: sans-serif;*/
/*    color: #ffffff;*/
/*    background: #a23538;*/
/*    cursor: pointer;*/
/*    transition: background 0.2s;*/
/*    border-bottom-left-radius: 15px;*/
/*    border-top-left-radius: 15px;*/
/*}*/
/*.radio__label4{*/
/*    overflow: hidden;*/
/*    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);*/
/*    padding: 8px 14px;*/
/*    font-size: 14px;*/
/*    font-family: sans-serif;*/
/*    color: #ffffff;*/
/*    background: #a23538;*/
/*    cursor: pointer;*/
/*    transition: background 0.2s;*/
/*    border-bottom-right-radius: 15px;*/
/*    border-top-right-radius: 15px;*/
/*}*/

/*.radio__label1:not(:last-of-type){*/
/*    border-right: 1px solid #a23538;*/
/*}*/
/*.radio__label2:not(:last-of-type){*/
/*    border-right: 1px solid #a23538;*/
/*}*/
/*.radio__label3:not(:last-of-type){*/
/*    border-right: 1px solid #a23538;*/
/*}*/
/*.radio__label4:not(:last-of-type){*/
/*    border-right: 1px solid #a23538;*/
/*}*/

/*.radio__input:checked + .radio__label1 {*/
/*    background: #a23538;*/
/*}*/
/*.radio__input:checked + .radio__label2 {*/
/*    background: #a23538;*/
/*}*/
/*.radio__input:checked + .radio__label3 {*/
/*    background: #a23538;*/
/*}*/
/*.radio__input:checked + .radio__label4 {*/
/*    background: #a23538;*/
/*}*/


/*input[type=radio],*/
/*input.radio {*/
/*    float: left;*/
/*    clear: none;*/
/*    margin: 2px 0 0 2px;*/
/*}*/

/*label {*/
/*    float: left;*/
/*    clear: none;*/
/*    display: block;*/
/*    padding: 0px 1em 0px 8px;*/
/*}*/


.form-group {
    text-align: center;
    justify-content: center;
    justify-items: center;
}


.form-horizontal {
    display: flex;
    text-align: left;
    justify-self: left;
    justify-content: left;
    align-items: flex-start;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 5px
    5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    font-wieght: 500;
    font-size: 20px;
}

.base {
    /*background: rgba(0,0,0,0.2);*/
    position: relative;
    /*padding: 3em;*/
    justify-items: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
    /*border-radius: 50%;*/
}

.second-base {
    padding-top: 100px;
}

.third-base {
    position: sticky;
    padding-top: 100px;
}

.fourth-base {
    padding-top: 100px;
}

.col-md-10 {
    padding-left: 50px;
}
