.drop-zone{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px
    10px rgba(0, 0, 0, 0.22);
    width: 120px;
    height: 120px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    font-wieght: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 2px dashed #f05557;
    border-radius: 10px;
}

/*.control-label-drop{*/
/*    visibility: hidden;*/
/*}*/

.drop-zone--over {
    border-style: solid;
}

.form-control-uploadfile{
    display: none;
    cursor: pointer;
    /*visibility: hidden;*/
}

.drop-zone__thumb{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}


/*!*Secret message text box style*/

.control-label-text-hide{
    display: none;
}


.form-group-text textarea {
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px
    10px rgba(0, 0, 0, 0.22);
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    height: 150px;
    font-size: 14px;
    outline: none;
    resize: none;
}

.form-group-text textarea:focus::placeholder {
    color: transparent;
}

.form-group-text textarea::placeholder {
    display: flex;
    color: #222;
    transition: color 0.5s ease-in-out;
    text-align: left;
}

/*.text-counter {*/
/*    position: absolute;*/
/*    bottom: 50%;*/
/*}*/

.front {
    position: relative;
    justify-content: left;
    text-align: left;
    /*bottom: 47%;*/
}

.text-counter {
    border-radius: 15px;
    text-align: center;
    border: none;
    color: #fcae1b;
}


/*Radio buttons style*/

.control-label {
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 14px;
    margin-top: 0em;
    padding: 0px;
    color: bisque;
    margin: 1px;
}



.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.radio__input{
    display: none;
}

.radio__label1{
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding: 8px 14px;
    font-size: 14px;
    /*font-family: 'Roboto', sans-serif;*/
    color: #ffffff;
    background: #f05557;
    cursor: pointer;
    transition: background 0.2s;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
}

.radio__label2{
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding: 8px 14px;
    font-size: 14px;
    /*font-family: 'Roboto', sans-serif;*/
    color: #ffffff;
    background: #f05557;
    cursor: pointer;
    transition: background 0.2s;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}
.radio__label3{
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding: 8px 14px;
    font-size: 14px;
    /*font-family: 'Roboto', sans-serif;*/
    color: #ffffff;
    background: #f05557;
    cursor: pointer;
    transition: background 0.2s;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
}
.radio__label4{
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding: 8px 14px;
    font-size: 14px;
    /*font-family: 'Orbitron', cursive;*/
    color: #ffffff;
    background: #f05557;
    cursor: pointer;
    transition: background 0.2s;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}

.radio__label1:not(:last-of-type){
    border-right: 1px solid #a23538;
}
.radio__label2:not(:last-of-type){
    border-right: 1px solid #a23538;
}
.radio__label3:not(:last-of-type){
    border-right: 1px solid #a23538;
}
.radio__label4:not(:last-of-type){
    border-right: 1px solid #a23538;
}

.radio__input:checked + .radio__label1 {
    background: #a23538;
}
.radio__input:checked + .radio__label2 {
    background: #a23538;
}
.radio__input:checked + .radio__label3 {
    background: #a23538;
}
.radio__input:checked + .radio__label4 {
    background: #a23538;
}


input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}




/*@media (min-width:1347px) {*/
/*    .radio__label4{*/
/*        overflow: hidden;*/
/*        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);*/
/*        padding: 8px 14px;*/
/*        font-size: 24px;*/
/*        font-family: 'Roboto', sans-serif;*/
/*        color: #ffffff;*/
/*        background: #2192a5;*/
/*        cursor: pointer;*/
/*        transition: background 0.2s;*/
/*        border-bottom-right-radius: 15px;*/
/*        border-top-right-radius: 15px;*/
/*    }*/
/*}*/



/*Choose Permitted users style*/

.select {
    display: grid;
    /*padding-bottom: 5em;*/
}

.dropdown {
    width: 11em;
    height: 2em;
    border-radius: 5px;
    background: transparent;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    font-size: 14px;
    border: none;
    text-align: center;
}

.uploadbtn1 {
    font-size: 16px;
    background: #f05557;
    color: white;
    cursor: pointer;
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1),
    opacity 300ms linear;
    transform: scale(1.1);

}



label {
    float: left;
    clear: none;
    display: block;
   /* padding: 0px 1em 0px 8px;*/
}


.form-group {
    text-align: center;
    justify-content: center;
    justify-items: center;
}


.form-horizontal {
    
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 5px
    5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    /*font-family: 'Roboto', sans-serif;*/
    font-wieght: 500;
    font-size: 20px;
    /*margin-left: 200px;*/
    margin-bottom: 10px;
    margin-top: 2px;
    /*margin-bottom: 25em;*/
}

.base {
    /*background: rgba(0,0,0,0.2);*/
    position: relative;
    margin: 1em;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
    /*border-radius: 50%;*/
}

.second-base {
    
}

.third-base {
    display: flex;
    flex-direction: column;
    position: sticky;
    /*padding-top: 10px;*/
    
}

.fourth-base {

}

.col-md-10 {
    /*padding-left: 50px;*/
    align-self: center;
}


.myBody{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*font-family: 'Electrolize', sans-serif;
    font-family: 'Orbitron', sans-serif;*/
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
}

.info{
    /*margin-left: 250px;*/
    text-align: start;
}

.extra-info1{
    height: 150px;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 5px
    5px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}

.extra-info2{
    height: 150px;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 5px
    5px rgba(0, 0, 0, 0.15);
}


h4{
    margin-left: 5px;
    margin-top: 5px;
    color: bisque;
}
h5{
    margin-left: 5px;
    color: bisque;
    
}
h6, h1{
    margin-left: 5px;
    color: bisque;

}

.supported-files{
    text-align: start;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 5px
    5px rgba(0, 0, 0, 0.15);
    height: fit-content;
    padding: 5px;
}

.email{
    font-size: 14px;
    margin-left: 5px;
}

li{
    color: bisque;
}

