


/*NAV BAR STYLE*/
/*.navbar navbar-inverse navbar-fixed-top{*/
/*    display: flex;*/
/*!*}*!*/

/*.container{*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    !*flex-direction: column;*!*/
/*}*/

/*.navbar-header{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.navbar-collapse-collapse{*/
/*    !*background-color: black;*!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.nav-navbar-nav{*/
/*    display: flex;*/
/*}*/

/*.nav-navbar-nav li{*/
/*    margin-right: 3em;*/
/*}*/

.navbar-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.toggler{
    /*color: white;*/
    /*width: 30em;*/
    /*height: 30em;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 2;*/
    /*cursor: pointer;*/
    /*width: 50%;*/
    /*height: 50%;*/
    /*opacity: 0;*/
}

.navbar-header .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 5em;
    height: 5em;
    opacity: 0;
}

.navbar-header .Hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Hamburger line*/

.navbar-header .Hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #242222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/*Top and bottom lines*/
.navbar-header .Hamburger > div:before,
.navbar-header .Hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/*Moves line down*/
.navbar-header .Hamburger > div:after{
    top: 10px;
}

/*Toggler animate*/
.navbar-header .toggler:checked + .Hamburger > div {
    transform: rotate(135deg);
}

/*Turn lines into X*/
.navbar-header .toggler:checked + .Hamburger > div:before,
.navbar-header .toggler:checked + .Hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
    
}

/*Rotate on gover when checked*/
.navbar-header .toggler:checked:hover + .Hamburger > div{
    transform: rotate(225deg);
}

/*Show menu*/
.navbar-header .toggler:checked ~ .menu {
    visibility: visible;
}

.navbar-header .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.4s;
}

.navbar-header .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.navbar-header .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility:hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-header .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.navbar-header .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.navbar-header .menu > div > div > ul > li{
    list-style: none;
    color: #1a1717;
    font-size: 1.5rem;
    padding: 1rem;
}

.navbar-header .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}
