/*body {*/
/*    padding-top: 50px;*/
/*    padding-bottom: 20px;*/
/*}*/

/*!* Set padding to keep content from hitting the edges *!*/
/*.body-content {*/
/*    padding-left: 15px;*/
/*    padding-right: 15px;*/
/*}*/

/*!* Override the default bootstrap behavior where horizontal description lists */
/*   will truncate terms that are too long to fit in the left column */
/**!*/
/*.dl-horizontal dt {*/
/*    white-space: normal;*/
/*}*/

/*!* Set width on the form input elements since they're 100% wide by default *!*/
/*input,*/
/*select,*/
/*textarea {*/
/*    max-width: 280px;*/
/*}*/

:root{
    --primary-color: #f0f7f8;
    --overlay-color: #dddfe5;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container-body{
    /*max-width: 960px;*/
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase{
    background-color: var(--primary-color);
    color: #000000;
    height: 80vh;
    /*position: relative;*/
    
    
}

.showcase:before {
    content: '';
    background: /*url("../Content/pexels-alex-andrews-861443.jpg")*/ no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .body-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    height: 100%;
}

.login-h2{
    font-size: 2rem;
}


.btn-default{
    display: inline;
    border: none;
    background-color: var(--primary-color);
    color: #100e0e;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
}

.btn-default:hover{
    opacity: 0.7;
}